@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

body {
  background-color: #571600;
  color: #fff;
}
nav {
  font-size: 1.2rem;
}
.navbar-brand {
  font-size: 2rem;
}
h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

.bg-cards {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

.story {
  font-weight: 300;
}

#soldierimg {
  max-width: 500px;
}

#keys {
  max-width: 500px;
}

#front {
  background-image: url('/assets/images/mars-bg.jpg');
  background-size: cover;
  color: black;
}

#front h1 {
  font-family: 'Black Ops One';
  text-align: center;
}

@media (max-width: 800px) {
  #soldierimg {
    max-width: 300px;
  }
}
