{% extends 'base.html' %} {% block content %}
<!-- Story Section -->
<div class="container" id="front">
    <h1 class="mb-lg-3 text-dark">SPACE FORCE</h1>
    <div class=" col-12 col-lg-5 mx-1 mb-1 d-flex flex-column justify-content-center"><img class="mt-lg-3"
            src="assets/images/soldier.png" alt="" class="img-fluid" id="soldierimg">
    </div>
</div>
<div class="container py-5 position-relative">
    <section id="hero" class="mb-2">
        <div class="row mb-2">
            <div class="col-12 mb-1 fs-5 d-flex flex-column justify-content-center mx-1" id="story">
                <h2 class="text-warning display-12">Lead a Space Force Officer Through Mars! <i
                        class="fas fa-user-astronaut mx-2"></i></h4>
                    <p>Oh no! Captain Jimmy McSpacerton is lost on Mars... <i
                            class="fas fa-surprise text-warning"></i><br>Help Jimmy search for the elusive and magical
                        Mintbean Star <i class="far fa-star mx-1 text-warning"></i> to help him find his way home!</p>
            </div> {% if session['username'] %} <div class="my-1"><a href="/game"
                    class="btn btn-outline-warning btn-lg px-5">Start Game</a>
            </div> {% else %} <p>Register or Login to play. Note: If you do not wish to register, you can easily log in
                as a Demo User via the <span class="text-success">Login as Demo User</span> function on the <a
                    href="/login">Login</a> Page! </p>
            <div class="my-1"><a href="/register" class="btn btn-outline-warning btn-lg px-5">Register to Play</a>
                <a href="/login" class="btn btn-outline-primary btn-lg px-5 mx-2">Login</a> {% endif %}
    </section>
</div>
<!-- Story section End -->
<!-- How to Play -->
<section id="rules" class="container py-lg-3">
    <h2 class="sf-text text-warning mb-lg-5 mb-3 display-5">How to Play <i class="fas fa-file-alt mx-2"></i>
    </h2>
    <ul class="fs-5">
        <li class="mt3"> Guide Captain McSpacerson through the dangerous Mars terrain, avoiding obstacles such as
            spikes, lava, green poison, fireballs, and more...</li>
        <li class="mt3"><b class="text-warning">BEWARE! <i class="fas fa-exclamation-triangle mx-2"></i>
            </b>
            </i> Running into or stepping on these VERY harmful objects will hurt Jimmy and deduct 25% from his health.
            <i class="fas fa-band-aid text-warning mx-2"></i></li>
        <li class="mt3"> Be careful! If you run out of health <i class="fas fa-battery-empty text-success mx-2"></i>,
            it's <b class="text-danger">GAME OVER <i class="fas fa-dizzy text-warning mx-2"></i></b></li>
        <li class="mt3"> However, there’s <b class="text-success">good news! <i class="fas fa-thumbs-up mx-2"></i></b> A
            very generous inhabitant decided to leave several health packs <i
                class="fas fa-medkit mx-2 text-primary"></i> throughout the level!</li>
        <li class="mt3"> These health packs <i class="fas fa-medkit mx-2 text-primary"></i> will not only restore 50% of
            Jimmy’s health, but also provide a BRAND NEW checkpoint <i
                class="fas fa-map-marker-alt mx-2 text-success"></i> should Jimmy run into any trouble during his
            adventures!</li>
        <li class="mt3"> Traverse across and up <i class="fas fa-hand-point-up mx-2"></i> the dangerous platform terrain
            and reach the top where you will find the magical Mintbean Star <i
                class="far fa-star mx-1 text-warning"></i> and achieve <b class="text-success">GLORIOUS VICTORY!</b> <i
                class="fas fa-trophy mx-2 text-warning"></i></li>
        <li class="mt3"> Compete against other players to finish the level in the <a href="/rankings" target="_blank"
                class="link-warning">fastest time</a>!</li>
    </ul>
    <br>
    <div class="d-flex justify-content-center embed-responsive embed-responsive-16by9"><video controls width="600">
            <source src="assets/video/Space-Force-Demo.mp4" type="video/mp4"> Sorry, your browser doesn't support
            embedded videos.
            <source src="assets/video/Space-Force-Demo.webm" type="video/webm">
        </video>
    </div>
</section>
<!-- Controls -->
<section id="controls" class="container py-lg-3">
    <h2 class="sf-text text-warning mb-lg-5 mb-3 display-5">Controls <i class="fas fa-keyboard mx-2"></i></h2>
    <ul class="fs-5">
        <li class="mt-3"><b class="text-warning">Move Left <i class="fas fa-arrow-left mx-1"></i> </b> Press A, the Left
            Arrow key <i class="far fa-caret-square-left"></i> , or click/touch the <i
                class="fas fa-arrow-circle-left text-primary"></i> button on the screen. </li>
        <li class="mt-3"><b class="text-warning">Move Right <i class="fas fa-arrow-right mx-1"></i> </b> Press D, the
            Right Arrow key <i class="far fa-caret-square-right"></i> , or click/touch the <i
                class="fas fa-arrow-circle-right text-primary"></i> button on the screen. </li>
        <li class="mt-3"><b class="text-warning">Jump <i class="fas fa-arrow-up mx-1"></i> </b>Press W, the Up Arrow key
            <i class="far fa-caret-square-up"></i> , the Space Bar, or click/touch the <i
                class="fas fa-arrow-circle-up text-warning"></i> button on the screen. </li>
        <li class="mt-3"><b class="text-warning">Toggle Touch Display <i class="fas fa-toggle-on mx1"></i></i>
            </b>Press TAB to toggle the On-Screen Clickable Icons</li>
        <li class="mt-3"><b class="text-warning">Toggle Sound <i class="fas fa-volume-up mx-1"></i>
            </b>Press SHIFT or Click the Speaker Icon in the Upper-Left Corner to toggle Sound</li>
    </ul><br>
    <!-- Image created by Emma Pines-Schwartz -->
    <div class="d-none d-lg-block"><img src="assets/images/keys.png" alt="" id="keys"></div>
</section>
<section id="developer" class="container py-lg-5 pb-5">
    <div class="row py-3">
        <h2 class="sf-text text-warning display-5">Meet the Developer<i class="fas fa-laptop-code mx-2"></i>
        </h2>
    </div>
    <div class="row gx-lg-5 gy-md-0 gy-3">
        <!-- Phil Browne's Card -->
        <div class="col-12">
            <div class="card p-lg-5 p-3 bg-dark">
                <img src="assets/images/phil.jpg" alt="Phil's profile picture" id="dev-img" style="max-width: 400px;"
                    class="d-flex flex-column align-items-center" />
                <div class="card-body">
                    <h2 class="fs-1">Phil Browne</h2>
                    <p class="card-text text-warning fs-3">Software Engineer</p>
                    <p class="card-text text-light fs-6">Hi there - thanks so much for stopping by! <br><br>I am a
                        software engineer based in the Washington, DC area. I also work as an administrative
                        professional for several non-profit organizations and have a background of over a decade as a
                        professional musician.<br><br>I would love to connect with you to explore ways that I can help
                        your organization. Please feel free to reach out via <a
                            href="https://www.linkedin.com/in/philbrownetech/" target="_blank" rel="noopener noreferrer"
                            class="link-primary">LinkedIn</a> or by email at <a href="mailto:pbrowne@gmail.com"
                            target="_blank" class="link-primary">pbrowne@gmail.com</a>. </p>
                    <p class="card-text text-light fs-6">This application was built in one week for the August 2021 <a
                            href="https://info.mintbean.io/" target="_blank" class="link-primary">Mintbean.io</a> Hiring
                        Hackathon.<br><br><a href="https://info.mintbean.io/" target="_blank"
                            class="link-primary">Mintbean</a> is a wonderful community dedicated to supporting software
                        developers and providing a welcoming and inclusive community for professionals in the industry.
                    </p>
                    <ul class="socials mt-4 fs-1 list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/philbrownetech/" target="_blank"
                                rel="noopener noreferrer" class="link-primary"><i class="fab fa-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/philipbrowne" target="_blank" rel="noopener noreferrer"
                                class="link-primary"><i class="fab fa-github-square"></i></a>
                        </li>
                    </ul>
                    <div class="text-warning fs-6">
                        <h3 class="text-warning fs-6">Technologies Used for this Project: </h3>
                        <ul class="fs-6">
                            <li><b>Front-End:</b> JavaScript, PhaserJS, JavaScript State Machine, Bootstrap CSS</li>
                            <li><b>Back-End:</b> Python, Flask, SQLAlchemy</li>
                            <li><b>Database:</b> PostgreSQL</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card End -->
    </div>
</section>
</div> {% endblock %}